body {
  /* feel free to change height */
  height: 800px;
}


svg {
  position: fixed;
    top: -13px;
    left: 0px;
    width:50%;
    height:106%;
}

.circle{
  position: fixed;
  top:20px;
  right:20px;
	border-radius:10px;
	width: 20px;
	height: 20px; 
	background-color: red;
}

.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.block2,.block3,.block4,.block5,.block6,.block7,.key1{
  position: fixed;
  left:57%;
  top:11%;
}

.instruction{
  position: fixed;
  left:72%;
  top:45%;
  font-family:helvetica;
  color:red;
  font-size: 16px;
  text-align: center;
  z-index: 1;
}

.instruction2{
  position: fixed;
  left:35%;
  top:50%;
  height: 40px;
  width:200px;
  font-family:helvetica;
  color:red;
  font-size: 16px;
  text-align: center;
  z-index: 4;
}

.instruction2:hover{
cursor: pointer;
}

.blink{
  -webkit-animation-name: blinker;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: blinker;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	animation-name: blinker;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

.info{
  position: fixed;
  left:70%;
  top:45%;
  font-family:helvetica;
  color:red;
  font-size: 16px;
  text-align: center;
  z-index:3;
}

.none{
  opacity: 0;
}

.cover{
  position:fixed;
  left:52%;
  top: 45px;
  width: 46%;
  height: 90%;
  z-index:2;
  background-color: white;
  z-index:2;
}

.active{
  
  display:inline-block;
}

.circle2{
  position: fixed;
  top:20px;
  right:20px;
	border-radius:10px;
	width: 20px;
	height: 20px; 
	background-color: red;
	z-index: 5;
}

.info2{
  position: fixed;
  left:35%;
  top:50%;
  font-family:helvetica;
  color:red;
  font-size: 16px;
  text-align: center;
  z-index:3;
}

.cover2{
  position:fixed;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index:2;
  background-color: white;
}

.none2{
  opacity: 0;
}


*{
	margin:0px;
	padding:0px;
}

html{
	height:100%; /*DECLARE 100% HEIGHT ON HTML, BODY, AND YOUR CONTAINING DIV TO GET IT TO STRETCH TO 100% OF THE BROWSER WINDOW */
}

body{
	height:100%;
}

#largeWrapper{
	margin:0px;
	padding:50px;
	background-size:cover;
	height:100%;
}

#smallWrapper{
	margin:0px;
	padding:50px;
	background-size:cover;
	height:100%;
}


@media (min-width: 400px) { /*ANYTHING ABOVE 500PX */
	#largeWrapper{ display: block; margin: 0 auto; } /* SHOW */
	#smallWrapper { display: none; }	 /*HIDE */
}


@media only screen and (max-width: 400px) { /*ANYTHING BELOW 500PX */
    #smallWrapper { display: block; margin: 0 auto; } /* SHOW */
	#largeWrapper{ display: none; } /* HIDE */
    }

.images,.key2{
    position: fixed;
  top:10%;
  left:-5%;
  -webkit-transform: scale(0.8); 
}
.noshow{
  display: none;
}