.boxPink{
    height:100px;
    width:100px;
    background-color:pink;
    float:left;
}

.boxGray{
    height:100px;
    width:100px;
    background-color:gray;
    float:left;
}

#container{
    width:1200;
}