*{
     font-size:20px;
    font-family:courier;
    letter-spacing:2px;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container:hover{
    cursor:pointer;
}

.text1{
    position:absolute;
    z-index:3;
    width:510px;
    top:-100px;
    left:-670px;
  /*mix-blend-mode: multiply; */
}

.text2{
    position:absolute;
    z-index:1;
    width:640px;
    top:-300px;
    left:-670px;
}

.text3{
    position:absolute;
    z-index:4;
    width:640px;
    top:-300px;
    left:30px;
}

.text4{
    position:absolute;
    z-index:2;
    width:640px;
    left:30px;
    top:-100px;
}

.text5{
    position:absolute;
    z-index:3;
    width:640px;
    top:130px;
    left:-670px;
}

.text6{
    position:absolute;
    z-index:3;
    width:640px;
    left:30px;
    top:130px;
}

.notext{
    opacity:0;    
}

.house{
    position:absolute;
    top:0px;
    left:103px;
    transform: translate(-50%, -50%);
    z-index:1;
}

.plate{
    position:absolute;
    z-index:0;
    top:46px;
    left:-360px;
    
}

.car{
    position:absolute;
    z-index:1;
    top:-10px;
    left:-300px;
}

.horn{
     position:absolute;
     z-index:0;
     top:-256px;
     left:-62px;
}

.face1{
     position:absolute;
     z-index:0;
     top:50px;
     left:-136px;
}

.face2{
     position:absolute;
     z-index:2;
     top:87px;
     left:-290px;
}

.grayscale{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.color{
    -webkit-filter: none;
    filter: none;
}

/* fade in */
 
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe fadeIn,  */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}
 
.fade-in.two {
-webkit-animation-delay: 2s;
-moz-animation-delay:2s;
animation-delay: 2s;
}
 
.fade-in.three {
-webkit-animation-delay: 3s;
-moz-animation-delay: 3s;
animation-delay: 3s;
}

.fade-in.four {
-webkit-animation-delay: 4s;
-moz-animation-delay: 4s;
animation-delay: 4s;
}

.fade-in.five {
-webkit-animation-delay: 5s;
-moz-animation-delay: 5s;
animation-delay: 5s;
}

.fade-in.six {
-webkit-animation-delay: 6s;
-moz-animation-delay: 6s;
animation-delay: 6s;
}


.white{
    color:white;
}

.link{
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
}

.link:hover{
    background-color:black;
}


.a4:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.a5:hover{
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}



.a3:hover {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

   .a6:hover {
      opacity: 0.5;
      }


.a1:hover{
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.a2:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}