body{
    
 background: linear-gradient(270deg, #000000, #ffffff);
background-size: 400% 400%;

-webkit-animation: gradient 30s ease infinite;
-moz-animation: gradient 30s ease infinite;
animation: gradient 10s ease infinite;

font-family:baskerville;
letter-spacing: 2px;


}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes gradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


a{
    text-decoration:none;
    color:black;
}

a:hover{
    opacity:0;
    color:white
}


.flip{
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  unicode-bidi:bidi-override;
  direction:rtl;
  color:black;
}


.main{
    font-size:40px;
    color:white;
    letter-spacing:5px;
    line-height:60px;
    text-align:right;
    width:700px;
    height:100px;
    position:fixed;
    top:370px;
    left:-210px;
   -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
             animation: fadein 4s;
     -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.mainflip{
  unicode-bidi:bidi-override;
  direction:rtl;
}


.main:hover{
    cursor:pointer;
}


#heads {
    float:right;
    width: 70%;
    color:white;
    font-weight:bold;
    position:fixed;
    top:50px;
    right:30px;
    
   -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
             animation: fadein 4s;
}

#heads .column {
    float: right;
    margin:20px;
    width: 25%;
}

.letter{
    display:inline-block;
    /*margin: 0 0 0 0;  TOP RIGHT BOTTOM LEFT */
}

.column:hover{
    cursor:pointer;
}

.red{
    color:red;
}


.a,.b,.c,.d,.q,.f,.g,.h,.i,.j,.k,.l,.m,.n,.o,.p,.r,.s,.t,.u,.v,.w,.x,.y{
    padding:2px;
    float:left;
    font-size:30px;
}

.sub3{
    color:black;
    font-weight:lighter;
    font-size:20px;
    letter-spacing: 3px;
    
   -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
             animation: fadein 4s;
}

.sub2{
     color:black;
    font-weight:lighter;
    font-size:20px;
    letter-spacing: 3px;
    
   -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
             animation: fadein 4s;
}

.sub1{
      color:black;
    font-weight:lighter;
    font-size:20px;
    letter-spacing: 3px;
    
   -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
             animation: fadein 4s;
}

.s1:hover, .s2:hover{
    color:white;
}

.p1:hover{
    color:white;
}

.r1:hover, .r2:hover, .r3:hover{
    color:white;
}

.noshow{
    opacity:0;
}

