

#Library {
   background-image: url('grid.jpg');
   height: 925px;
   width: 925px;
       position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Library:hover {
   background-image: url('grid2.jpg');
}