.wing{
    position:absolute;
    left:100px;
    top:150px;
    z-index:0;
    
}

.glove{
    position:absolute;
    z-index:0;
}

.hook{
     position:absolute;
     z-index:0;
}

.righteye{
     position:absolute;
     z-index:2;
}

.lefteye{
     position:absolute;
     z-index:2;
}

.face{
     position:absolute;
     z-index:1;
}