[class*='col-'] {
  float: left;
}

.col-2-3 {
  width: 66.66%;
  background-color:darkblue;
  height: 120px;
}
.col-1-3 {
  width: 33.33%;
  background-color: cyan;
  height: 120px;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.col-1-2 {
  width: 25%;
    background-color:deepskyblue;
      height: 120px;
}
.col-1-4 {
  width: 50%;
    background-color:darkcyan;
      height: 120px;
}
.col-1-8 {
  width: 25%;
    background-color: lightblue;
      height: 120px;
}

@media only screen and (max-width: 1200px) {
.col-1-2 {
        background-color: hotpink;
    }
.col-1-4 {
        background-color: pink;
    }
.col-1-8 {
        background-color:PaleVioletRed;
    }
.col-2-3 {
        background-color:mistyrose;
    }
.col-1-3 {
        background-color:lightcoral;
    }
}
