*{
    color:white;
    background-color:#4d0019;
    font-family:arial,helvetica;
    text-align:center;
}

p{
  height: 20px;
  width: 800px;
  overflow: hidden;
  position: relative;
    color:white;
    animation: p 20s linear infinite;
    font-weight:bold;
}

@keyframes p {
  0% { left: 0; }
  100% { left: -100%; }
}

h1{
  font-weight:lighter;
}

h3{
  font-weight:lighter;
}

h5{
  font-weight:lighter;
}

ol{
  font-weight:lighter;
}

ul{
  font-weight:lighter;
}