
img.displayed {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.shape{
	position:absolute;
	width:30px;
	height: 30px;
	background-color: lime;
	text-align: center;
	padding: 25px;
	border-radius: 15px;
	font: 20px HelveticaNeue, helvetica, sans-serif;
	color:white;
	line-height:30px;
	background-color:#E01414;
}

input {
border: none;
z-index: 500;
float: right;
width:170px; 
margin-right:auto; 
margin-left:auto;
}

input[type=text] {
	font: 34px HelveticaNeue, helvetica, sans-serif;
	font-weight: bold;
}

.cover{
background-color: white;
width:200px; 
height:100px;
z-index: 501;
	position: absolute;
	top: 0;
	right: 0%;
}

.button{
width:520px; 
height:100px;
position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
background-color:none;
}