
.shape {
	position:absolute;
	background-color: blue;
	padding: 58px;
  animation-name: stretch;
  animation-duration: 3.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    
  }
  50% {

  }
  100% {
    transform: scale(1.5);
   
  }
}



input {
z-index: 1000;
float: right;
width:1300px; 
height: 500px;
margin-right:100px; 
margin-top:100px;
text-align: right;
padding-top:0px;
border: none transparent;
outline: none;


}

input[type=text] {
	z-index: 1000;
	font: 34px HelveticaNeue, helvetica, sans-serif;
	font-weight: bold;
	text-align: right;
	padding-top:0px;
	border: none transparent;
outline: none;
}
